@model  Inbid.Models.RegistrationModel

<p>Administrator <strong>@Model.UserName</strong> firmy <strong>@Model.Name</strong> zostal zarejestrowany.</p>
<p><a href="javascript:void(0);" class="close">Zamknij</a></p>