@using Resources
@{
    ViewBag.Title = "Deleted";
}

<h2>Deleted</h2>

<h2>@Resources.AuctionDeleted</h2>

<div>
	<p>@Resources.YourAuctionDeleted</p>
</div>
	
<div>
	<p><a href="@Url.Content("~/auction")">@Resources.ClickForUpcomingAuction</a></p>
</div>
