<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <!--<add key="Sender" value="inbidmailer@gmail.com"/>-->
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=8326e1f8-beb8-414a-be65-9ff600d34854.sqlserver.sequelizer.com;Database=db8326e1f8beb8414abe659ff600d34854;User ID=ofgdlwdpweudkirn;Password=eh4xe6KaRdqfYhNjsisGKoZLwFXAqiJJ3AvVtW7KJpzxLbVVELXqbg3XqrbEhiRH;" />


    
    <add name="InBidEntities" connectionString="metadata=res://*/Models.InBidEntities.csdl|res://*/Models.InBidEntities.ssdl|res://*/Models.InBidEntities.msl;provider=System.Data.SqlClient;provider connection string='Server=8326e1f8-beb8-414a-be65-9ff600d34854.sqlserver.sequelizer.com;Database=db8326e1f8beb8414abe659ff600d34854;User ID=ofgdlwdpweudkirn;Password=eh4xe6KaRdqfYhNjsisGKoZLwFXAqiJJ3AvVtW7KJpzxLbVVELXqbg3XqrbEhiRH;'" providerName="System.Data.EntityClient" />



  
  <!--<add name="InBidEntities" connectionString="metadata=res://*/Models.InBidEntities.csdl|res://*/Models.InBidEntities.ssdl|res://*/Models.InBidEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=8326e1f8-beb8-414a-be65-9ff600d34854.sqlserver.sequelizer.com;initial catalog=db8326e1f8beb8414abe659ff600d34854;persist security info=True;user id=ofgdlwdpweudkirn;password=eh4xe6KaRdqfYhNjsisGKoZLwFXAqiJJ3AvVtW7KJpzxLbVVELXqbg3XqrbEhiRH;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="auto" uiCulture="auto" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--<identity impersonate="true" />-->
    <!--<sessionState timeout="10" />zakomentowane 01.03,  2880-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership userIsOnlineTimeWindow="30"> <!--zakomentowane 01.03-->
    <!--<membership >-->
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        
        
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <!--<add connectionStringName="InBidEntities" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />-->
        
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <!--Trzeba error sprawdzić-->
    <customErrors mode="Off" />
    <!--<customErrors mode="RemoteOnly" defaultRedirect="/Auction/Trouble">
      <error statusCode="404" redirect="/Auction/Trouble" />
    </customErrors>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Resources" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--<sessionState cookieless="true"
     regenerateExpiredSessionId="true" />-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/Logs" />
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="SuperAdmin" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp from="inbidmailer@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="inbidmailer@gmail.com" password="janek000" defaultCredentials="false" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<configSections>
    
 
    <add key="Sender" value="inbidmailer@gmail.com"/>
    
 
  </configSections>-->
</configuration>