<?xml version="1.0"?>
<configuration>
  
   <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ActivateUser.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>

    

      

 
    
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="serwisrezerwacje@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="serwisrezerwacje@gmail.com" password="Rezerwacje123" defaultCredentials="false" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
