@{
    ViewBag.Title = "Nie można licytować";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teraz nie można licytować ponieważ aukcja jest zawieszona, nie zaczeła się jeszcze lub się już skończyła</h2>
