@model Browser.Controllers.ViewModel
           
@{
    ViewBag.Title = "Apps";
}

<script type="text/javascript">
//    $(document).ready(function () {

//        $.Post("www.browser.apphb.com/Home/Apps", { at: document.URL }, null);


//    });

/*function explore(sender) {
    //var ElementId = $('#' + sender).attr("id");
    $.getJSON("www.browser.apphb.com/Home/Apps", { at: document.URL },null)
                    
}*/
 </script>


<h2>Apps</h2>
<p>  @Model.outer</p>