
<script src="@Url.Content("~/Scripts/date.format.js")" type="text/javascript"></script>

<script type="text/javascript">

    

    
    function clock() {
        var now = new Date()
        var date = dateFormat(now, "HH:MM:ss");        
        $("#data").html(date.toString());
       // $("#data").html('@System.DateTime.Now.ToString("HH:MM:ss")');
    };

    setInterval("clock()", 1000); 
    

    </script>

<div style=" margin-right:18px; ">
<img src="@Url.Content("~/Content/clock.gif")" alt=""  height="20"  />
</div>
<label id="data"> </label>
 
    