@{
    ViewBag.Title = Resources.Resources.Home;
    
     

}

<h2>@ViewBag.Message</h2>
<h4>@TempData["Message"]</h4>

 <p>Informacja dla Pana od rekrutacji z IW</p> <b />
    <p>Dane Admina głównego </p><b />
    <p>Login: MainAdmin</p><b />
    <p>Hasło: haslo0</p>