<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=C:\asp\Rezerwacje\Rezerwacje\App_Data\aspnetdb.mdf;User Instance=true"
   providerName="System.Data.SqlClient" />
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
   providerName="System.Data.SqlClient" />
  <add name="BazaRezerwacjeConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\BazaRezerwacje.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
  <add name="BazaRezerwacjeConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\BazaRezerwacje.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

 
  
	<location path="Checkout.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
  <location path="Cart.aspx">
    <system.web>
      <authorization>
        <!--<allow roles="Klient"/>-->
        <deny roles="Pracownik, Admin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
 
	<system.web>

    <sessionState timeout="15"></sessionState>
  
    
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="XmlSiteMapProvider"
             description="Default Site Map Provider"
             type="System.Web.XmlSiteMapProvider"
             siteMapFile="Web.sitemap"
             securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <!--<pages validateRequest="false" />-->
   


    <compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<!--<authentication mode="Windows" />-->
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<anonymousIdentification enabled="true"/>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
			<properties>
				<add name="Nazwisko"/>
				<add name="Imie"/>
				<add name="PESEL"/>
        <add name="Ulica"/>
        <add name="NrDomu"/>
        <add name="KodPocztowy"/>
        <add name="Miejscowosc"/>
			</properties>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear/>
				<add connectionStringName="LocalSqlServer" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
			</providers>
		</roleManager>
		<!--<trace enabled="true" pageOutput="true"/>-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.aspx"/>
				<add value="Default.htm"/>
				<add value="Default.asp"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="iisstart.htm"/>
			</files>
		</defaultDocument>
		<directoryBrowse showFlags="Date, Time, Size, Extension, LongDate"/>
	</system.webServer>
  
  
  
  
	<system.net>
		<mailSettings>
			<smtp from="serwisrezerwacje@gmail.com">
				<network host="smtp.gmail.com" port="587" userName="serwisrezerwacje@gmail.com" password="Rezerwacje123" defaultCredentials="false" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
