<?xml version="1.0"?>
<configuration>

  <!--<system.web>
    <roleManager enabled="true"/>
    <authentication mode="Forms"/>
    <authorization>
      <deny users="?"/>
    </authorization>
                    
  </system.web>-->
  
  <location path="ZarzadzanieImprezami.aspx">
    <system.web>
      <authorization>
        <allow roles="Pracownik, Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


  <location path="Klienci.aspx">
    <system.web>
      <authorization>
        <allow roles="Pracownik, Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Wplaty.aspx">
    <system.web>
      <authorization>
        <allow roles="Pracownik"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


</configuration>
